<p>update-category works!</p>
<div class="container">
  <h2>Update Category</h2>
  <form #edit="ngForm" (ngSubmit)="updateCategory(edit.value)">
    

    <div>
      <label>New Category Name</label>
      <input name="CategoryName" type="text" ngModel>
    </div>

    <div>
      <label>New Category Name</label>
      <input name="CategoryDesc"  type="text" ngModel >
    </div>

    <button type="submit">Update</button>

    <p style="margin-top: 20px; font-weight: bold;">{{ resultMessage }}</p>
</form>
