<!--<p>update-category works!</p>
<div class="container">
  <h2>Update Category</h2>

  <div>
    <label>Category ID</label>
    <input type="number" [(ngModel)]="categoryId" readonly>
  </div>

  <div>
    <label>New Category Name</label>
    <input type="text" [(ngModel)]="categoryName">
  </div>

  <div>
    <label>New Category Name</label>
    <input type="text" value="{{category.ca}}">
  </div>


  <button (click)="updateCategory()">Update</button>

  <p style="margin-top: 20px; font-weight: bold;">{{ resultMessage }}</p>
</div>-->
